@font-face {
    font-family: Vazir;
    src: url('fonts/Vazir-Bold-FD-WOL.eot?#iefix') format('embedded-opentype'),
    url('fonts/Vazir-Bold-FD-WOL.woff') format('woff'),
    url('fonts/Vazir-Bold-FD-WOL.ttf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: Vazir;
    src: url('fonts/Vazir-Medium-FD-WOL.eot');
    src: url('fonts/Vazir-Medium-FD-WOL.eot?#iefix') format('embedded-opentype'),
    url('fonts/Vazir-Medium-FD-WOL.woff') format('woff'),
    url('fonts/Vazir-Medium-FD-WOL.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: Vazir;
    src: url('fonts/Vazir-FD-WOL.eot');
    src: url('fonts/Vazir-FD-WOL.eot?#iefix') format('embedded-opentype'),
    url('fonts/Vazir-FD-WOL.woff') format('woff'),
    url('fonts/Vazir-FD-WOL.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: Vazir;
    src: url('font/Vazir-Light-FD-WOL.eot');
    src: url('fonts/Vazir-Light-FD-WOL.eot?#iefix') format('embedded-opentype'),
    url('fonts/Vazir-Light-FD-WOL.woff') format('woff'),
    url('fonts/Vazir-Light-FD-WOL.ttf') format('truetype');
    font-weight: 300;
}
@font-face {
    font-family: Vazir;
    src: url('fonts/Vazir-Thin-FD-WOL.eot');
    src: url('fonts/Vazir-Thin-FD-WOL.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Vazir-Thin-FD-WOL.woff') format('woff'),
    url('../fonts/Vazir-Thin-FD-WOL.ttf') format('truetype');
    font-weight: 100;
}
*{
    margin: 0;
    padding:  0;
    text-decoration: none;
    border: 0 none;
    direction: rtl;
    list-style-type: none;
    box-sizing: border-box;
} 
body{
    background-color: #f5f5f5;
    width: 100%;
}
header{
    width: 63.2%;
    /* height: 141px; */
    height: 18.6%;
    margin: 0 auto;
    overflow: hidden;
    border-bottom: rgba(223 , 223, 223, 0.9) solid 1px;
    background-color: rgb(255 , 255, 255);
}
header .navbars{
    width: 60%;
    height:50%;
}
header .navbars ul{
    width: 95%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    align-items: flex-end;
    justify-content: space-between;
    margin: 0 auto;
} 

 header .navbars ul li.line{
     position: relative;
 }
 header .navbars ul li.line::before{
      content:"";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 120%;
      top: 40%;
      width: 1px;
      height: 50%;
      background-color: #dad8d8;
 }
 header .navbars ul li.line1{
    position: relative;
}
header .navbars ul li.line1::before{
     content:"";
     position: absolute;
     bottom: 0;
     left: 0;
     right: 110%;
     top: 40%;
     width: 1px;
     height: 50%;
     background-color: #dad8d8;
}
/* header .navbars ul li a{}*/
header .navbars ul li a h5{
    color: #27bec4;
    /* font-size: 12pt; */
     font-size: 1.1vw;
    font-weight: bold;
    text-align: center;
    font-family: Vazir;
}
header .navbars ul li a h6{
   color: rgba(100, 100, 100, 0.9);
    /* font-size: 9pt;*/
     font-size: 0.8vw;
    font-weight: normal;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
}
header .navbars ul li a i{
    display: inline;
    color:rgb(51 ,204 ,204);
    font-size: 2vw;
   vertical-align: super; 
}
header .navbars ul li a #loginsignup{
    display: inline-block;
}
header .navbars ul li a #loginsignup #logine{
    letter-spacing: 0.8; 
    word-spacing: 0.3;
    vertical-align: sub;
}

header .searchBox{   
  /*   
    margin-right: 21px;
     width: 538px;
    height: 33px;
 */
  width: 60%;
  height:50%;
}   
header .searchBox form{
    border: rgba(245,245,245,0.9) solid 1px;
    border-radius: 5px;
   background-color: rgba(245,245,245,0.9);
   /* 
   position: relative;
   margin-top: -1px;
    */
     display: flex;
     flex-direction: row; 
     margin: 0 auto;
     justify-content: flex-start;
     align-items: center;
     width: 90%;
      height: 45%; 
      margin-top: 10px;
}

header .searchBox form input[type=search]{
    /* padding-right: 13px; */
    /* padding-left: 30px; */
    background-color:rgba(245,245,245,0.9);
    color:rgb(194 , 194, 194);
    /* align-self: center; */
    flex-grow: 5;
    border-left: #c2c0c0 solid 1px;
    
    


    /* height: 33px; */
    /* width: 400px; */
    /* margin-right: 2px; */
    margin-right: 14px;
}   

/*  
header .searchBox form input[type=search]::placeholder{
    color: rgb(194 , 194, 194);
    opacity: 1;
}
*/
/*  
header .searchBox form input[type=search]:-ms-input-placeholder{
     color: rgb(194 , 194, 194); 
}
header .searchBox form #input[type=search]::-ms-input-placeholder{
    color: rgb(194 , 194, 194);
}
*/
header .searchBox form .searchBu{
    background-color: rgba(245,245,245,0.9) ;
    flex-grow: 0.7;
    /* padding: 9px 6px 12px 8px; */
     
}

header .searchBox form .searchBu #searchBuIcon{
   background: url("images/searchIn.png") no-repeat;
   background-color: rgba(245,245,245,0.9);
   align-self: flex-end;
   width: 15px;
   height: 15px;
   display: inline-block;
   /* margin-bottom: -2px;   */
   /* margin-left: -2px; */
}

header .logoiconBox{

 
    width: 40%;
    height: 141px;
    float: left;
    margin-top: -150px;
 
}

header .logoiconBox .iconCall{ 
    width: 30%;
   height: 141px;
   float: right;
   border-right: rgba(238 , 238, 238, 0.9) solid 1px;
}
header .logoiconBox .iconCall #iconCall{
    background: url("images/iconCall.png") no-repeat;
    width: 60px;
    height: 50px;
    display: block;
    overflow: hidden;
    margin: 20px auto;
}
header .logoiconBox .iconCall h4{
    text-align: center;
    margin-top: -10px;
     line-height: 1.2;
    font-family: Vazir;
}
header .logoiconBox .iconCall h4 #iconCalltext1{
    color: rgba(255 , 102, 51, 1);
    font-size: 9pt;
    
}
header .logoiconBox .iconCall h4 #iconCalltext2{
    font-size: 8pt;
    color: rgb(163 , 163 ,163);
    letter-spacing: 0.7px;
}
header .logoiconBox .iconBuy{
    width: 30%px;
    height: 141px;
    border-right: rgba(238 , 238, 238, 0.9) solid 1px;
    float: right;

 }
 header .logoiconBox .iconBuy #iconBuy{
     background: url("images/iconBuy.png") no-repeat;
     width: 70px;
     height: 74px;
     display: block;
     margin: 5px auto;
 }
 header .logoiconBox .iconBuy h4{
     font-family: Vazir;
 }
 header .logoiconBox .iconBuy h4 #iconBuytext1{
     font-size: 9pt;
     color: rgba(163 , 163 ,163, 1);
     margin-top: 2px;
     margin-right: 14px;
     display: inline-block;
 }
 header .logoiconBox .iconBuy h4 #iconBuytext2{
     color: rgba(255 , 255, 255, 1);
     background-color: rgba(255 , 102, 51, 1);
     font-size: 8pt;
     margin-top: 4px;
    margin-left: 14px;
     float: left;
     border-radius: 2px;
     padding-right: 3px;
     padding-left: 3px;
     display: block;
     width: fit-content;
     height: fit-content;
 }
 header .logoiconBox .iconBuy h4 #iconBuytext21{
     margin-bottom: -3px;
     display: inline-block;
     

 }
 header .logoiconBox .iconBuy h4 #iconBuytext3{
     color: rgba(255 , 102, 51, 1);
     font-size:8pt;
     display: inline-block;
     margin-right: 14px;
 }
 header .logoiconBox .logo{
    border-right: rgba(238 , 238, 238, 0.9) solid 1px;
    float: right;
    width: 40%;
    height: 141px;
 }
 header .logoiconBox .logo img{
     max-width: 82px;
     height: auto;
    
 margin: 20px 30px;

 }











 
 section{
     background-color: rgb(245 , 245, 245);
     width: 100%;
     height: auto;
     margin-bottom: 30px;
 }
section .slider{
    width: 1024px;
    margin: 0 auto;
}
section .slider #socialMedia{
    float: left;
    margin: 13px 0 0 11px;
    
}
section .slider #socialMedia #aparat{
    width: 207px;
    height: 104px;
    border: solid 1px rgba(204 , 204, 204, 1);
    background-color: rgba(255 , 255, 255, 1);

}
section .slider #socialMedia #aparat img{
     margin: 17px 32px 0 0;
}
section .slider #socialMedia #aparat h4{
    color: rgba(153 , 153, 153, 1);
    font-size: 8pt;
    text-align: center;
   display: block;
   margin-top: 6px;
   font-family: Vazir;
}
section .slider #socialMedia #aparat h4 span{
    color: rgba(255 , 0, 102, 1);

}
section .slider #socialMedia #telegram{
    width: 207px;
    height: 104px;
    border: solid 1px rgba(204 , 204, 204, 1);
    margin: 8px 0 8px 0;
    background-color: rgba(255 , 255, 255, 1);
}
section .slider #socialMedia #telegram i{
   color: rgba(185 ,185 ,185 ,1);
   font-size: 40px;
   display: block;
   margin: 17px 83px 4px 0;

}
section .slider #socialMedia #telegram h4{
   color: rgba(137 ,137 ,137 ,0.8);
   font-size: 9pt;
   text-align: center;
   font-family: Vazir;
}
section .slider #socialMedia #telegram h4 span{
    color:rgba(53 ,160 ,222 ,1);
}
section .slider #socialMedia #telegram h5{
    color: rgba(163 ,163 ,163 ,0.8);
    font-size: 8pt;
    text-align: center;
}
section .slider #socialMedia #news{
    width: 207px;
    height: 134px;
    border: solid 1px rgba(213 , 213, 213, 0.8);
    background-color: rgb(51 ,204 ,204);
}
section .slider #socialMedia #news img{
    display: block;
    width: 25px;
    height: 23px;
    margin-top: -120px;
    margin-right: 122px;
}
section .slider #socialMedia #news h4{
    color: white;
    text-align: center;
    font-size: 12pt;
    margin-top: -6px;
    margin-left: 5px;
    font-family: Vazir;
}
section .slider #socialMedia #news h4 span#crowInformerText{
      display: block ;
      margin-right: -65px;
      
}
section .slider #socialMedia #news h4 span#crowInformerText1{
    margin-left: 37px;
    display: block;
    margin-top: -30px;
}
section .slider #socialMedia #news h4 span#crowInformerText2{
         display: block;
         margin-top: -25px;
         margin-left: 4px;
}
section .slider #socialMedia #news h4 span#crowInformerText3{
    display: block;
    margin-left: -40px;
    margin-top: -27px;

}

section .slider #socialMedia #news h5{
    color: white;
    text-align: center;
    font-size: 6pt;
    font-weight: 300;
}
section .slider #socialMedia #news h5 span#crowInformerText4{
    display: block;
    margin-left: -40px;
    margin-top: -3px;
    letter-spacing: 1px;
}
section .slider #socialMedia #news h5 span#crowInformerText5{
    display: block;
    margin-top: -7px;
    margin-left: 40px;
    letter-spacing: 1px;


}
section .slider #socialMedia #news div#cader::after{
    content: "";
    width: 3px;
    height: 60px;
    display: block;
    margin-top: -12px;
    margin-left: -5px;
    float: left;
    background-image: linear-gradient(to left, rgba(41, 176, 181, 0.6), rgba(41, 176, 181, 0.2));
    box-shadow: -2px 0 7px 3px rgba(41, 176, 181, 0.5);
}
section .slider #socialMedia #news div#cader::before{
    content: "";
    width: 2px;
    height: 119px;
    display: block;
    margin-left: 8px;
    float: left;
    margin-top: -42px;
    background-image: linear-gradient(to top, rgba(41, 176, 181, 0.2), rgba(41, 176, 181, 1), rgba(41, 176, 181, 0.2));
    box-shadow: -1px 0 5px 1px rgba(41, 176, 181, 0.5);
}
section .slider #socialMedia #news::before{
    content: "";
    width: 2px;
    height: 119px;
    display: block;
    margin-top: 8px;
    margin-right: 8px;
    background-image: linear-gradient(to top, rgba(41, 176, 181, 0.2), rgba(41, 176, 181, 1), rgba(41, 176, 181, 0.2));
    box-shadow: 1px 0 5px 1px rgba(41, 176, 181, 0.5);
}
section .slider #socialMedia #news::after{
    content: "";
    width: 3px;
    height: 60px;
    display: block;
    margin-top: -67px;
    margin-right: 5px;
    background-image: linear-gradient(to right, rgba(41, 176, 181, 0.6), rgba(41, 176, 181, 0.2));
    box-shadow: 2px 0 7px 3px rgba(41, 176, 181, 0.5);
}
section .slider #socialMedia #news div#newsText{
    margin-top: 8px;
    margin-right: 9px;
}
section .slider #socialMedia #news div#newsText h4{
    font-size: 7pt;
    font-weight: 200;
    letter-spacing: -1px;
    word-spacing: -0.1px;
}
section .slider #socialMedia #news div#newsText h4 span{
    line-height: 2;
}
section .slider #socialMedia #news div#emailAddress{
    width: 164px;
    height: 16px;
    background-color: rgba(41 ,174 ,180 ,1);
    margin-right: 21px;
    margin-top: 4px;
    border-radius: 2px;
}
section .slider #socialMedia #news div#emailAddress i{
    font-size: 13px;
    color: rgba(22 , 144, 150, 1);
    margin: 2px 0 0 4px;
    float: left;
}
section .slider #socialMedia #news div#emailAddress::after{
    content: "";
    height: 7px;
    width: 1px;
    display: block;
    background-color: rgba(22 , 144, 150, 1);
    float: left;
    margin: -12px 0 0 23px;
}
section .slider #socialMedia #news div#emailAddress p{
    font-size: 7pt;
    text-align: center;
    line-height: 1.9;
    color: rgba(215 ,236 ,238 ,1);
}
section .slider #socialMedia #news #newsButton{
    width: 40px;
    height: 15px;
    display: block;
    background-color:rgba(255 , 255, 255, 1);
    border-radius: 2px;
    margin-right: 82px;
    margin-top: 7px;
    color: rgba(39, 190, 196, 1);
    font-size: 8pt;
    font-weight: bold;
    border-radius: 3px;

}
section .slider .verBarsPhoto{
    width: 781px;
    height: 276px;
    background: rgb(201 , 201, 201) url('images/verBarsPhoto.png') no-repeat;
    margin-right: 10px;
    margin-top: 14px;
    display: inline-block;
    
   
}
section .slider .verBarsPhoto .verBars{
    width: 196px;
    height: 277px;
    background-color: rgb(255 , 255, 255);
    margin-top: -1px;
    
}
section .slider .verBarsPhoto .verBars ul li:nth-child(1){
    border-top:rgba(227 , 225, 225, 0.8) solid 1px; 
    border-bottom: rgba(227 , 225, 225, 0.5) solid 1px; 
    border-right: rgba(227 , 225, 225, 0.5) solid 1px; 
    padding-top: 16px;
    padding-right: 20px;
    padding-bottom: 15px;
    position: relative;
} 
section .slider .verBarsPhoto .verBars ul li:nth-child(1):hover{
    border-right: #27bec4 solid 5px;
    padding-right: 14px;
    margin-right: 1px;
}
section .slider .verBarsPhoto .verBars ul li:nth-child(1):hover a{
    display: block;
    border-right: rgba(204 , 204, 204, 1) solid 1px;
    margin-right: -20px;
    padding-right: 20px;
    margin-top: -17px;
    padding-top: 17px;
    margin-bottom: -16px;
    padding-bottom: 16px;
}
section .slider .verBarsPhoto .verBars ul li:nth-child(1):hover i{
    color: #27bec4 ;
    font-size: 40px;
    position: absolute;
    bottom: 11px;
    right: 150px;

}
section .slider .verBarsPhoto .verBars ul li:nth-child(2){
    border-bottom: rgba(227 , 225, 225, 0.5) solid 1px; 
    border-right: rgba(227 , 225, 225, 0.5) solid 1px; 
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 14px;
    position: relative;
    
}
section .slider .verBarsPhoto .verBars ul li:nth-child(3){
    border-bottom: rgba(227 , 225, 225, 0.5) solid 1px; 
    border-right: rgba(227 , 225, 225, 0.5) solid 1px; 
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 14px;
    position: relative;
}
section .slider .verBarsPhoto .verBars ul li:last-child{
    border-bottom: rgba(227 , 225, 225, 0.8) solid 1px;
    border-right: rgba(227 , 225, 225, 0.5) solid 1px;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 14px;
    position: relative;
    background-color:rgb(255 , 255, 255);   
}
section .slider .verBarsPhoto .verBars ul li a h4{
    color: #27bec4;
    font-size: 11pt;
    font-weight: bold;
}
section .slider .verBarsPhoto .verBars ul li a h6{
    font-weight: bold;
    font-size: 10pt;
    color: rgba(176 , 174, 174, 1);
}
section .slider .verBarsPhoto .verBars ul li a i{
    color: rgba(204 , 204, 204, 0.8);
    font-size: 40px;
    position: absolute;
    bottom: 11px;
    right: 155px;
}
section .slider .siteServices{
    width: 781px;
    height: 62px;
    margin-right: 10px;
    margin-top: 19px;
    background-color: rgba(255 , 255, 255, 1);
    border: rgba(204 , 204, 204, 1) solid 1px;
    border-radius: 1px;
    display: inline-block;
} 
section .slider .siteServices #fastDelivery{
    margin-right: 16px;
    margin-top: 16px;
}   

section .slider .siteServices #fastDelivery a #fastDeliveryIcon{
    background: url("images/fastDeliveryIcon.png") no-repeat;
    width: 35px;
    height: 30px;
    display: block;
    margin-left: 10px;
}
section .slider .siteServices #fastDelivery a h4{
    margin-left: 41px;
}
section .slider .siteServices #instantPayment {
    margin-right: 15px;
    margin-top: 15px;
}
section .slider .siteServices #instantPayment a #instantPaymentIcon{
    background: url("images/instantPaymentIcon.png") no-repeat;
    width: 34px;
    height: 30px;
    display: block;
    margin-left: 9px;
}
section .slider .siteServices #instantPayment a h4{
    margin-left: 54px;
}
section .slider .siteServices #guarantee{
    margin-right: 15px;
    margin-top: 15px;
}
section .slider .siteServices #guarantee a #guaranteeIcon{
    background: url("images/guarantee.png") no-repeat;
    width: 30px;
    height: 30px;
    display: block;
    margin-left: 10px;
}

section .slider .siteServices div{
    float: right;
}
section .slider .siteServices div a i{
    float: right;
}
section .slider .siteServices div a h4{
    font-weight: bold;
    font-size: 9pt;
    color: rgba(100 , 100, 100, 1);
    float: right;
    margin-top: -2px;
}
section .slider .siteServices div a h4 span{
    font-size: 7pt;
    color: rgba(140 ,140 ,140 ,1);
}
section .slider .siteServices div::after{
    content:"";
    display: block;
    width: 1px;
    height: 37px;
    background-color: rgba(220 , 220, 220, 1);
    float: right;
}
section .slider .siteServices div:last-child::after{
    display: none;
}
section .product{
width: 1024px;
margin: 0 auto;

}
section .product .sectionTopBorder{
  border: 3px solid transparent;
  border-image: url("images/sectionBorders2.png") 30% round;
  opacity: 0.7;
  margin: 19px auto 11px auto;
  width: 1010px;
}
section .product #productTabs{
  margin-right: 8px;
}
section .product #productTabs a{
        display: inline-block;
}
section .product #productTabs a p{
    display: inline-block;
    color: rgba(179 ,179 ,179, 1);
    background-color: white;
    border: 1px solid rgba(210 ,210 ,210 ,0.8);
    border-radius: 20px;
    padding: 2px 4px;
    margin-left: 2px;
    font-weight: 900;
    font-size: 8px;
    font-family: Vazir;

}

section .product #productTabs a i{
    visibility: hidden; 
    
    
}
section .product #productTabs a#iconSortDown1 i{
    margin-right: 25px;
    display: block;
    margin-top: -10px;
}
section .product #productTabs a:hover p{
    border: 1px solid #27bec4;
    color: #27bec4;
}
section .product #productTabs a:hover i{
    visibility: visible;
    color:#27bec4;
}
section .product #productTabs a#iconSortDown2 i{
    margin-top: -10px;
    display: block;
    margin-right: 18px;
}
section .product #productTabs a#iconSortDown3 i{
    display: block;
    margin-top: -10px;
    margin-right: 10px;

}
section .product .products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(245 , 245, 245);
    margin-right: 8px;
    position: relative;
}
section .product .products > div{
    background: #ffff;
    border: solid #dfdfdf 1px;
    margin-left: 7px;
}
section .product .products div{
    padding-bottom: 4px;
}
section .product .products div img{
    width: 180px;
    height: 180px;
    margin: 6px;
}
section .product .products div p{
    font-family: Vazir;
    font-size: 8pt;
    text-align: center;
    color: rgba(110, 110 ,110  ,1);
}
section .product .products div p span{
    font-family: Arial, Helvetica, sans-serif;
     word-spacing: -2px;
 }
 section .product .products div .ProductsGames{
     margin-right: 35px;
     font-weight: 700;
     font-family: Vazir;
    }

section .product .products div .ProductsGames p.ProductsPrice{
    display: inline-block;
    color: #0eccd4;

    
}
section .product .products .ProductsGames del{
    text-decoration: line-through;
    font-family: Vazir;
    font-size: 8pt;
   display: inline-block;
   color: rgba(180, 180, 180, 1);

}

section .product .products div .ProductsIcons{
   margin-right: 53px;
   margin-top: 5px;

}
section .product .products div .ProductsIcons i{
    display: inline-block;
    margin-right: 3px;
    color: rgba(180 ,180 ,180 ,0.8);
    font-size: 18px;
} 
section .product  .products #rectangle1, #rectangle2{
    position: absolute;
    top: 50%;
    margin-top: -51px;
    font-size: 25px;
    color: #999999;
    padding: 26px 6px 26px 7px;
    background-color: white;
    border: 0;
   
}
section .product  .products #rectangle1{
    right: -9px;
    box-shadow: 1px 1px 8px 0 #d4d4d4;
}
section .product  .products #rectangle2{
    left: -1px;
    box-shadow: -1px -1px 8px 0 #d4d4d4;
}
section .sectionTopBorder{
    border: 3px solid transparent;
    border-image: url("images/sectionBorders2.png") 30% round;
    opacity: 0.7;
    margin: 13px auto 10px auto;
    width: 1011px;
  }
  












section .forauto1 .NewsSection{
   margin: 0 auto;
   width: 1024px;
   margin-bottom: 34px;
}

  section .NewsSection{
    display: grid;
    grid-template-columns: 240px 240px 240px 240px;
    grid-template-rows: 40px auto;
    grid-gap: 10px;
  margin: 0 auto;

}
section .NewsSection .newsLink{            
  grid-row: 1 ;
  width: 1000px;
  border: #cccccc solid 1px;
  border-radius: 10px;
  border-bottom: 3px #cccccc solid;
  background-color: #ffffff;

  
}

section .NewsSection .newsLink #firstIcons{
    display: block;
}
section .NewsSection .newsLink #newsIcon1{
    font-size: 7pt;
    transform: rotate(10deg);
    text-indent: 6px;
    line-height: 2.6;
    vertical-align: super;
    color: #ff6633;
}
section .NewsSection .newsLink #newsIcon2{
  vertical-align: sub;
  text-indent: -8px;
   transform: rotate(-35deg);
   color: #ff6633;
}
section .NewsSection .newsLink #firstNote{
    display: block;
    margin: -25px 35px 0 0;  
}





section .NewsSection .newsLink h4#first{
    
    color: rgb(152, 152, 152, 1);
   font-size: 10pt;  
     font-family: Vazir;
  
}
section .NewsSection .newsLink h4#first span{
    color: rgba(255 , 102, 51, 1);
}
section .NewsSection .newsLink h5{
   font-size: 8pt;
   color: rgb(152, 152, 152, 1);
   font-size: 7pt;
   font-family: sans-serif;
}
section .NewsSection .newsLink #secondIconsNote{
   display: block;
   margin: -29px 915px 0 0;
}
section .NewsSection .newsLink h4#second{
   display: inline;
    line-height: 2.3;
    color: rgb(152, 152, 152, 1);
    font-size:9pt; 
    word-spacing: -2px; 
}
section .NewsSection .newsLink i#newsIcon3{
  color: rgb(152, 152, 152, 1);
  font-size: 8pt;
  display: inline-block;
}
section .NewsSection .LastNewsPhoto1{
  grid-row: 2;
margin-right: 5px;
width: 240px;
}
section .NewsSection .LastNewsPhoto1 img{
    border-radius: 3px;
}
section .NewsSection .LastNewsPhoto1 h6{
    color: #666666;
    font-weight: bold;
    font-family: Vazir;
    font-size: 8pt;
    display: inline-block;
 word-spacing:  -1;
  
}
section .NewsSection .LastNewsPhoto1 p#comments{
   display: inline-block;
   color: #666666;
   font-family: Vazir;
   font-size: 7pt;
   font-weight: 600;
   margin-right: -3px;
}
section .NewsSection .LastNewsPhoto1 #nextDescription{
display: inline-block;
    background-color: #ff6633;
  padding: 0 1px;
  margin: 0 -1px;
    font-size: 7pt;
    font-weight: 800;
    font-family: Vazir;
    border: 1px  solid #ff6633 ;
    border-bottom: solid 1px black;
    border-radius:  3px;
}
section .NewsSection .LastNewsPhoto1 #nextDescription p{
         color: white;
}
section .NewsSection .LastNewsPhoto1 p#description{
    color: #909090;
    font-size: 7pt;
    font-family: Vazir;
    font-weight: bold;
    word-spacing: -2px;
    margin-top: 3px;

}

section .NewsSection .LastNewsPhoto2{
  grid-row: 2;
width:  240px;
margin-right: 5px;
}

section .NewsSection .LastNewsPhoto2 .imptyImage{
    background-color: #999999;
    width: 240px;
    height: 161px;
    border-radius: 3px;
}
section .NewsSection .LastNewsPhoto2 .imptyImage i{
    font-size: 65px;
    color: #666666;
    text-indent: 85px;
    line-height: 160px;
}
  section .NewsSection .LastNewsPhoto2 h6{
      color: #666666;
      font-weight: bold;
      font-family: Vazir;
      font-size: 8pt;
      display: inline-block;
   word-spacing:  -1;
  }

  section .NewsSection .LastNewsPhoto2 .nextDescription2{

  display: inline-block;
      background-color: #999999;
    padding: 0 1px;
    margin-right: 102px;
      font-size: 7pt;
      font-weight: 800;
      font-family: Vazir;
      border: 1px  solid #999999 ;
      border-bottom: solid 1px black;
      border-radius:  3px;
  }
  section .NewsSection .LastNewsPhoto2 .nextDescription2 p{
           color: white;
  }
  section .NewsSection .LastNewsPhoto2 p.description2{
      color: #909090;
      font-size: 7pt;
      font-family: Vazir;
      font-weight: bold;
      margin-top: 5px;
  }
   





  section .sectionTopBorder1{
   
 }
 section .sectionTopBorder1 .sectiontopborder4{
     width: 1024px;
     margin: 0 auto;
 }
 section .sectionTopBorder1 .sectionTopBorder2{
    display: inline-block;
  border: 3px solid transparent;
  border-image: url("images/sectionBorders2.png") 30% round;
  opacity: 0.7;
  /* margin: 0 -50px 10px 20px; */
  width: 50px;
  
}
 section .sectionTopBorder1 #iconGift{
     display: inline-block;
  /* margin: -30px -10px 0 0; */

 }
 section .sectionTopBorder1 #iconGift i{
     font-size: 27px;
     display:inline-block;
     color: #ff6633;
   
  
   
 }
 section .sectionTopBorder1 #iconGift p{
     font-size: 20px;
    color: #ff6633;
    font-family: Vazir;
    font-weight: 600;
    display: inline-block;
     text-indent: 4px;
 }
 section .sectionTopBorder1 .sectionTopBorder3{
     display: inline-block;
   border: 3px solid transparent;
   border-image: url("images/sectionBorders2.png") 30% round;
   opacity: 0.7;
   /* margin: 0 15px 10px auto; */
   width: 850px;

 }



/* section .gifts1{} */
    
   

 section .gifts1 .gifts{
   /* padding: 5px 220px 0 0; */
   position: relative;
   width: 1024px;
   margin: 0 auto;
   padding: 5px 20px 0 0;
 }
 section .gifts1 .gifts::after{
    content: "";
    clear: both;
    display: table;
 }
 section .gifts1 .gifts .giftsBox{
float: right;
border: 1px solid #ffffff;
background-color: white;
/* margin-right: 10px; */
/* padding: 10px; */
/* margin: 5px; */

 }
 section .gifts1 .gifts .giftsBox img{
float: right;
 }
 section .gifts1 .gifts .giftsBox .giftsPrice{
  float: left;
  padding: 17px 10px 0 0;
 }

 section .gifts1 .gifts .giftsBox .giftsPrice p{
     line-height: 2;
 }
 section .gifts1 .gifts .giftsBox .giftsPrice p#text{
    color: #666666;
    font-family: Vazir;
    font-size: 9pt;
 }
 section .gifts1 .gifts .giftsBox .giftsPrice p span#textE{
      font-family:  Arial, Helvetica, sans-serif;
      
 }
 section .gifts1 .gifts .giftsBox .giftsPrice p#price{
    font-family: Vazir;
color: #ff6633;
font-size: 9pt;

}
section .gifts1 .gifts .giftsBox .giftsPrice p span#textp{
    
  text-decoration: line-through;
    color: #c7c7c7;  
}
section .gifts1 .gifts .giftsBox .giftsPrice .icons3{
    margin-right: 15px;
}
 section .gifts1 .gifts .giftsBox .giftsPrice .icons3 i{
    padding-right: 8px;
   color: #bdbcbc;
   
 }
 section .gifts1 .gifts .giftsBox .icons3{
     margin-right: 30px;
 }

 section .gifts1 .gifts  #navigationL{
   width: 28px;
   height: 80px;
   background-color: white;
   float: left;
   position: absolute;
   bottom: 15px;
   left: 37px;     
   border: white 1px solid;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }
 section .gifts1 .gifts  #navigationL i{
     line-height: 5;
     text-indent: 10px;
     color: #999999;
 }
 section .gifts1 .gifts #navigationR{
    width: 28px;
    height: 80px;
    background-color: white;
    float: right;
    position: absolute;
    bottom: 15px;
    right: 3px;
    border: white 1px solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
section .gifts1 .gifts  #navigationR i{
    line-height: 5;
    text-indent: 10px;
    color: #999999;
}
footer{
    background-color: rgb(245 , 245, 245);
    width: 100%;
    height: 60px;
    margin-bottom: 30px;
   
}
footer .footeri{  
    margin: 0 auto;
    width: 1024px;
}  
footer .footeri .footerend{
   width: 90%;
   float: right;
}
footer .footeri .footerend h2{
    font-family: Vazir;
}
footer .footeri h2 a{

    font-size: 12pt;
    color: #666666;

}
footer .footeri h3{
    color: #666666;
    font-size: 9pt;
    font-family: Vazir;
      
}
footer .footeri .iconend i{
    font-size: 50px;
    color: #ff6633;
    float: left;
}


/* media query responsive */
@media only screen and (max-width: 600px) {
    header{
        width: 100%;
        height: 30%;
    }
    header .navbars{
        width: 100%;
        height:80%;
    }
    header .navbars ul{
        width: 100%;
        height: 100%;
        flex-direction: column; 
        justify-content: center;
        justify-content: space-between;
        transition: width 1s, height 1s;
    } 

    header .navbars ul li{
        margin: 0 auto;
    }  
        header .navbars ul li a h5{
        font-size: 9pt;
        
    }

    header .navbars ul li a h6{
        font-size: 8px;
      
    }

    header .navbars ul li a i{
        font-size: 24px;
    }
    header .navbars ul li.line{
        position: relative;
    }
    header .navbars ul li.line::before{
         content: none;
         position: absolute;
    }
    header .navbars ul li.line1{
       position: relative;
   }
   header .navbars ul li.line1::before{
        content:none;
        position: absolute;
   }
   header .searchBox{   
    /*   
      margin-right: 21px;
       width: 538px;
      height: 33px;
   */
    width: 100%;
    height:50%;
  }   
  header .searchBox form{
      border: rgba(245,245,245,0.9) solid 1px;
      border-radius: 5px;
     background-color: rgba(245,245,245,0.9);
     /* 
     position: relative;
     margin-top: -1px;
      */
       display: flex;
       flex-direction: row; 
       margin: 0 auto;
       justify-content: flex-start;
       align-items: center;
       width: 90%;
        height: 25%; 
        margin-top: 10px;
  }
  header .logoiconBox{

 display: none;
 
}
  }
  @media only screen and (min-width: 600px) {
    header{
        width: 100%;
        height: 30%;
       
    }
    header .navbars{
        width: 100%;
        height:80%;
    }
    header .navbars ul{
        width: 100%;
        height: 100%;
        flex-direction: column; 
        justify-content: center;
        justify-content: space-between;
    } 
    header .navbars ul li{
        margin: 0 auto;
    }

    header .navbars ul li a h5{
    
        font-size: 9pt;
 
    }

    header .navbars ul li a h6{
        font-size: 8px;
        transition: 1s;

    }

    header .navbars ul li a i{
        font-size: 24px;
    }
    header .navbars ul li.line{
        position: relative;
    }
    header .navbars ul li.line::before{
         content: none;
         position: absolute;
    }
    header .navbars ul li.line1{
       position: relative;
   }
   header .navbars ul li.line1::before{
        content:none;
        position: absolute;
   }
   header .searchBox{   

    width: 100%;
  
  }   
  header .searchBox form{
        height: 25%; 
        
  }
  header .logoiconBox{

    display: none;
    
   }
  }
  
  @media only screen and (min-width: 768px) {

 header{
    width: 95%;
    height: 18.6%;
    
}
header .navbars{
    width: 100%;
    height:30%;
    background-color: rgb(255 , 255, 255);
}
header .navbars ul{
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
} 

header .navbars ul li a h5{

    font-size: 11pt;
}
header .navbars ul li a h6{

    font-size: 8pt;
  

}


header .navbars ul li a i{
    font-size: 30px;
}
header .navbars ul li.line{
    position: relative;
}
header .navbars ul li.line::before{
     content:"";
     position: absolute;
     bottom: 0;
left: 0;
right: 170%;
top: 40%;
 width: 1px;
height: 50%;
background-color: #dad8d8;
}
header .navbars ul li.line1{
   position: relative;
}
header .navbars ul li.line1::before{
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 150%;
    top: 40%;
    width: 1px;
    height: 50%;
    background-color: #dad8d8;
}
header .searchBox{   

    width: 60%;
  
  }   
  header .searchBox form{
        height: 45%; 
        
  }

  } 

  @media only screen and (min-width: 992px) {
    header{
        width: 80%;
    }
    header .navbars{
        width: 60%;
        height:50%;
    }
    header .navbars ul{
        width: 95%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row; 
        align-items: flex-end;
        justify-content: space-between; 
    } 
    header .navbars ul li a h5{
        font-size: 12pt;
    }
    header .navbars ul li a h6{
        font-size: 9pt;
    }
    header .navbars ul li a i{
        font-size: 24px;
    }
    header .navbars ul li.line{
        position: relative;
    }
    header .navbars ul li.line::before{
         content:"";
         position: absolute;
         bottom: 0;
    left: 0;
    right: 120%;
    top: 40%;
     width: 1px;
    height: 50%;
    background-color: #dad8d8;
    }
    header .navbars ul li.line1{
       position: relative;
   }
   header .navbars ul li.line1::before{
        content:"";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 110%;
        top: 40%;
        width: 1px;
        height: 50%;
        background-color: #dad8d8;
   }
   header .logoiconBox{

 display: inherit;
    width: 40%;
    height: 141px;
    float: left;
    margin-top: -150px;
 
}
   
  } 
  

  @media only screen and (min-width: 1200px) {
    header{
        width: 1000px;
        height: 141px;
    }
    header .navbars ul{
        width: 95%;
        height: 100%;
        display: flex;
      

    } 
    header .navbars ul li a h5{
         font-size: 1.1vw;
    }
    header .navbars ul li a h6{
         font-size: 0.8vw;
    }
    header .navbars ul li a i{
        font-size: 2vw;
    }
    
  }
